/* Base */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Nav */
.nav-link ul {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-evenly;
}

.nav-link li {
  list-style-type: none;
  margin: 0 15px;
}

.nav-link a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link a:hover {
  color: #007BFF;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f0f8ff;
}

.logo {
  width: 40%;
}

.nav-link {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

/* Hero Image */
.img {
  background: url("https://cdn.pixabay.com/photo/2024/05/26/10/15/bird-8788491_1280.jpg") no-repeat right center;
  background-size: cover;
  min-height: 80vh;
}

/* About Section */
.hero,.about {
  padding: 50px;
}


#contact h1 {
  color: #000080;
  margin-bottom: 30px;
}

/* Gallery Styles */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
  margin-top: 20px;
}

.gallery-item {
  overflow: hidden;
  border-radius: 10px;
  background: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.gallery-item:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Contact Section */
#contact {
  background: #f9f9f9;
  padding: 50px;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
}

.form-control,
.btn {
  margin-bottom: 15px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #e9ecef;
}
